user comments..
<section id="comments" class="card">
  <header>User: "some User", {{user_name}}</header>
  <div class="card-contents">
    <p>Blog BOdy: {{comment}}</p>
    <p>User Id: {{user_id}}</p>
  </div>
</section>