<nav>
  <div id="nav-links">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
  </div>
  <div id="tech-blog">
    <h1>The Tech Blog</h1>
  </div>
</nav>

{{!-- Questions: 
- Where do you register the partial?


 --}}