<div id="post">View 1 Blog Post..
  {{!-- {{blogs.title}}
  {{blogs.body}}
  {{blogs.name}} --}}
  {{! Need to join with User table to get user name.}}
  {{!-- {{format_date blog.createdAt}} --}}
  {{!-- {{> blogPost }} --}}
</div>

{{! How do you pass in the blogPost Properties from the DB? }}