<div id="homepage">
  <section id="blog-posts">
    Homepage:
    {{!-- {{blog}} --}}
    {{!-- {{> blogPost }} --}}
  </section>
</div>

{{!  }}

{{!-- <div class="row align-center mb-5">
  <div class="col-md-12">
    <h2>Logged in as {{user.name}}</h2>
    <p>{{user.email}}</p>
    BODY
  </div>
</div> --}}

{{! Homepage should render the homepage when you open up the app. }}