<div class='row align-center mb-5'>
  <div class='col-md-12'>
    <h2>Logged in as {{user.name}}</h2>
    <p>{{user.email}}</p>
  </div>
</div>
<!-- Example single danger button -->
<nav>
  <div class='btn-group'>
    <button
      type='button'
      class='btn btn-danger dropdown-toggle'
      data-bs-toggle='dropdown'
      aria-expanded='false'
    >
      Home
    </button>
    <ul class='dropdown-menu'>
      <li><a class='dropdown-item' href='#'>Action</a></li>
      <li><a class='dropdown-item' href='#'>Another action</a></li>
      <li><a class='dropdown-item' href='#'>Something else here</a></li>
      <li><a class='dropdown-item' href='#'>Separated link</a></li>
    </ul>
  </div>
  <div class='btn-group'>
    <button
      type='button'
      class='btn btn-danger dropdown-toggle'
      data-bs-toggle='dropdown'
      aria-expanded='false'
    >
      My Books
    </button>
    <ul class='dropdown-menu'>
      <li><a class='dropdown-item' href='#'>Action</a></li>
      <li><a class='dropdown-item' href='#'>Another action</a></li>
      <li><a class='dropdown-item' href='#'>Something else here</a></li>
      <li><a class='dropdown-item' href='#'>Separated link</a></li>
    </ul>
  </div>
  <div class='btn-group'>
    <button
      type='button'
      class='btn btn-danger dropdown-toggle'
      data-bs-toggle='dropdown'
      aria-expanded='false'
    >
      Reviews
    </button>
    <ul class='dropdown-menu'>
      <li><a class='dropdown-item' href='#'>Action</a></li>
      <li><a class='dropdown-item' href='#'>Another action</a></li>
      <li><a class='dropdown-item' href='#'>Something else here</a></li>
      <li><a class='dropdown-item' href='#'>Separated link</a></li>
    </ul>
  </div>
</nav>
{{! Edit this page to add all the formating for the app. }}